:root{
    --primary-color: rgb(193, 176, 81);
    --secondary-color: rgb(31, 31, 31);
    --text-color: rgb(241, 241, 241);
    --background-color: rgb(15, 15, 15);
    --accent-color: rgb(48, 48, 48);
    --font-family: 'Arial', sans-serif;
}

*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flexRow{
    display: flex;
    flex-direction: row;

}

.flexColumn{
    display:flex;
    flex-direction: column;
}

.formContainer{
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    width:100%;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding:1rem;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.formTitle{
    background-color: inherit;
    font-size:2rem;
    min-width:100%;
    margin-bottom:1rem;
    text-align: center;
    color:var(--primary-color)
}

.formField{
    position:relative;
    background-color: inherit;
    width:90%;
    transition: all 0.3s ease;
    margin:0.5rem 1rem 0rem;;
}

.formLabel{
    position:absolute;
    left:0;
    top: 0.5rem;
    background: linear-gradient(transparent 50%, var(--accent-color) 40%);
    padding: 0 0.1rem;
    transition: all 0.3s ease;
    color:rgba(241,241,241,0.4);
    margin:1rem;
}

.txtField{
    width:100%;
    height:3rem;
    padding:1rem;
    margin: 0.5rem 0;
    background-color: var(--accent-color);
    border:none;
    color: var(--text-color);
    border-radius: 0.8rem;
    transition: all 0.3s ease;
}

.formBtn{
    width: 60%;
    padding: 0.5rem;
    margin: 1rem 0;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 0.8rem;
    cursor: pointer;
    font-weight: bolder;
}

.txtField:focus{
    outline: none;
    border-color: var(--primary-color);
    border: solid 1px var(--primary-color);
}

.txtField:focus + .formLabel{
    transform: translateY(-1.5rem);
    font-size:0.8em;
    color:var(--primary-color);
}

.txtField:valid + .formLabel{
    transform: translateY(-1.5rem);
    font-size:0.8em;
    color:var(--primary-color);
}

.formField:focus-within{
    transform:scale(1.1,1.1);
}

.sideBar{
    border:red solid 1px;
    position:fixed;
    top:0;
    left:0;
    width: 20rem;
    height:100vh;
    padding: 1rem;
}

.sideBarItem :first-child{
    position: relative;
    top:-0.25rem;
    border:yellow solid 1px;
    margin:0 2.5rem;
}