:root{
    --primary-color: rgb(193, 176, 81);
    --secondary-color: rgb(31, 31, 31);
    --text-color: rgb(241, 241, 241);
    --background-color: rgb(28, 29, 30);
    --accent-color: rgb(48, 48, 48);
    --line-color:rgb(28, 29, 30);
    --font-family: 'Arial', sans-serif;
}

*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}



.material-icons{
    background-color: inherit;
}

.container{
    max-width: 100%;
    height:90vh;
    margin: 4rem 10rem 4rem 0rem;
}

 .dataTable{
    width:90vw;
    max-height:calc(100vh - 8rem);
    border-spacing:0;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.dataTableItem{
    padding: 1rem;
    border-bottom: 1px solid var(--accent-color);
    min-width: 8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.dataTableHeader{
    position: sticky;
    top:0;
    
}
.dataTableHeaderItem{
    background-color:var(--accent-color);
    padding:1rem;
    
}


.flexRow{
    display: flex;
    flex-direction: row;
}

.flexColumn{
    display:flex;
    flex-direction: column;
}

.floatingAdd, .floatingSearch{
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.floatingAdd{
    position:fixed;
    bottom:6rem;
    right: 2rem;
}

.floatingSearch{
    position:fixed;
    bottom: 2rem;
    right: 2rem;
}
.floatingSearch.open{
    width: 85vw;
    height: 3rem;
    background-color: var(--accent-color);
    border-radius: 15rem;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    padding-left: 1rem;
    border:2px solid var(--primary-color);
    z-index: 100;
}
.floatingSearchButton{
    border:none;
    cursor:pointer;
}
.floatingSearchField{
    margin-left:1rem;
    width:100%;
    background-color: rgba(0,0,0,0);
    border:none;
}
.floatingSearchField:focus{
    outline:none;
}
.floatingSearchForm{
    background-color:inherit;
    width:90%;
    display:none;
    transition: all 0.5s ease;
}
.floatingSearchForm.active{
    display:block;
}

.focus{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    z-index: 50;
}
.focus.active{
    opacity:1;
    visibility: visible;
}

.formBtn{
    width: 60%;
    padding: 0.5rem;
    margin: 1rem 0;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 0.8rem;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease;
}

.formBtn:active{
    transform:scale(1.1);
}

.formContainer{
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    max-height:95vh;
    overflow: hidden;
    width:100%;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding:1rem;
    z-index:100; 
}
.formContainer.open{
    display:flex;
}
.formField{
    position:relative;
    background-color: inherit;
    width:90%;
    transition: all 0.3s ease;
    margin:0.5rem 1rem 0rem;;
}
.formField:focus-within{
    transform:scale(1.1,1.1);
}
.formLabel{
    position:absolute;
    left:0;
    top: 0.5rem;
    background: linear-gradient(transparent 50%, var(--accent-color) 40%);
    padding: 0 0.1rem;
    transition: all 0.3s ease;
    color:rgba(241,241,241,0.4);
    margin:1rem;
}
.formTitle{
    background-color: inherit;
    font-size:2rem;
    min-width:100%;
    margin-bottom:0;
    text-align: center;
    color:var(--primary-color)
}

.header{
    width:100vw;
    height:3rem;
    background-color: var(--accent-color);
    top:0;
    z-index: 10;
    padding-right:3rem;
}
.headerBtn{
    background-color: inherit;
    width:2rem;
    height:2rem;
    margin:1rem 3rem 1rem;
    cursor:pointer;
}
.headerTitle{
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: inherit;
    margin: 0.5rem 0 0.5rem 3rem;  
    font-weight: bolder;
}

.mainContent{
    width:100%;
    margin-left:5rem;
    padding:0.5rem;
}

.sideBar{
    background-color: var(--accent-color);
    position:fixed;
    top:0;
    left:-20rem;
    width: 20rem;
    height:100vh;
    padding: 3rem 0 3rem 0.3rem;
    transition: all 0.3s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index:100;
}
.sideBar.open{
    left:0;
}
.sideBar:focus-within .sideBarLabel{
    opacity:100%
}
#menuBtn:focus .sideBarLabel{
    display:block;
}
.sideBarIcon{
    background-color: rgba(0,0,0,0);
}
.sideBarItem{
    background-color: inherit;
    width:100%;
    height:3em;
    padding: 1rem 1.5rem 0;
    margin: 0.2em 0;
    transition: all 0.3s ease;
    cursor:pointer;
}
.sideBarItem :first-child{
    position: relative;
    top:-0.25rem;
    margin:0 1rem;
}
.sideBarItem:focus{
    background-color: var(--primary-color);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.sideBarLabel{
    background-color: rgba(0,0,0,0);
    transition: all 0.3s ease;
}

.toastMessage{
    background-color: var(--primary-color);
    color: var(--text-color);
    height:auto;
    width:auto;
    padding:0.75rem 2rem;
    border-radius: 2rem;
    font-size: small;
    font-weight: bold;
    text-align: center;
    transition: all 0.5s ease;
}

#toastMessageClient{
    box-shadow: 1px 1px 1rem var(--accent-color) inset;
    width: 100vw;
    margin-bottom:-1rem;
    transform:translateY(3rem);
} 
#toastMessageClient.show {
    transform:translateY(0rem);
}

.txtField{
    width:100%;
    height:3rem;
    padding:1rem;
    margin: 0.5rem 0;
    background-color: var(--accent-color);
    border:none;
    color: var(--text-color);
    border-radius: 0.8rem;
    transition: all 0.3s ease;
}
.txtField:focus{
    outline: none;
    border-color: var(--primary-color);
    border: solid 1px var(--primary-color);
}
.txtField:focus + .formLabel{
    transform: translateY(-1.5rem);
    font-size:0.8em;
    color:var(--primary-color);
}
.txtField:valid + .formLabel{
    transform: translateY(-1.5rem);
    font-size:0.8em;
    color:var(--primary-color);
}

@media (orientation: portrait){  
    
    #colSanes,#colUbicacion,#colApellido{
        display:none;
    }

    #colCredito{
        border-top-right-radius: 1rem;
    }
}

@media (orientation: landscape){
    body{
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
}




